#boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
#navbarBox {
  margin-bottom: 20px;
}
#alert-message {
  position: absolute;
  right: 0;
  animation: change 1s ease;
  z-index: 1;
}
@keyframes change {
  from {
    top: 40px;
  }
  to {
    top: 60px;
  }
}
#MUICards {
  cursor: pointer;
  transition: 1s;
}
#MUICards:hover {
  transform: translateY(-5px);
}
#CardButton:hover {
  background-color: #1976d2;
  color: aliceblue;
}
#CardButton {
  transition: 1s;
}
#errorMessage {
  display: flex;
  justify-content: center;
  height: 60vh;
  align-items: center;
  flex-direction: column;
}
